*{
    margin:0px;
    padding:0px;    

font-family: 'Architects Daughter',
cursive;
}
body{
    display:flex;
    justify-content:center
}
.grid-container{
    width:60%;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:1em;

}
.navbar{
    grid-column:1/-1;
    background-color:rgb(51, 50, 50);
    color:white;
    padding:10px;
}
.posts{
    font-size:20px;
}
.posts ul{
    display:flex;
    flex-direction: column;

}
.my-profile{
    justify-self: center;
    align-self: flex-start;
    justify-self:center;
}